<html>
<head>
    <title>Inventory List</title>
</head>
<body>
    <h1>Welcome to your Inventory List</h1>

    <p><a href="/items">Click here</a> to see all of the items in your inventory and to add an item.</p>

</body>
</html>
